<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="home">
    <div class="bg">
        <div class="text">
            <h1>Kulture Sound is a brand new recording facility and platform designed to showcase upcoming australian
                acts.
                <br>We specialise in urban and pop music, however whatever your idea is we can bring it to life.</h1>
            <br>
            <h2>SERVICES</h2>
            <h1>Recording</h1>
            <h1>Production</h1>
            <h1>Mixing</h1>
            <h1>Music Videos</h1>

        </div>
    </div>
</body>

</html>