<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="home">
    <div class="bg">
        <div class="text">
            <h1>KULTURE SOUND IS A BRAND NEW RECORDING FACILITY AND PLATFORM DESIGNED TO SHOWCASE UPCOMING AUSTRALIAN
                ACTS
                <br>WE SPECIALISE IN URBAN AND POP MUSIC, HOWEVER WHATEVER YOUR IDEA IS WE CAN BRING IT TO LIFE</h1>
            <br>
            <h2>SERVICES</h2>
            <h1>Recording</h1>
            <h1>Production</h1>
            <h1>Mixing</h1>
            <h1>Music Videos</h1>

        </div>
    </div>
</body>

</html>