<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="studioB">
    <div class="bg">
        <div class="text">
            <h2>STRINGS</h2>
            <h1>WE HAVE A WIDE RANGE OF GUITARS AND BASSES FROM THE TYPICAL TO THE UNUSUAL
                FROM GUITAR AND BASS AMPS TO PEDALS, TO FULL ON PEDAL-BOARDS YOU CAN EXPERIMENT TO YOUR HEARTS CONTENT
            </h1>
            <br><br>
            <h2>DRUMS</h2>
            <h1>NEED SOME PERCUSSION OR NEED TO RECORD DRUMS JUST NEED TO THROW IN SOME PERCUSSION TRY OUT OUR CUSTOM
                PEARL KIT</h1>

        </div>
    </div>
</body>

</html>