body,
html {
  height: 100vh;
  min-height: 350px;
  margin: 0;
}
.bg {
  background-image: url(../../assets/studio_bg.jpg);
  background-color: black;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .text {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    padding-top: 20vh;
    h1 {
      font-size: large;
    }
  }
}

ul {
  position: absolute;
  right: 20vw;
  top: 10vh;
  list-style-type: none;
  padding-top: 20vh;
  li {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
