<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="studioA">
    <div class="bg">
        <div class="text">
            <h2>STUDIO A</h2>
            <h1>WE CAN HANDLE ANYTHING YOU THROW AT US<br>WHETHER YOU ARE A SINGER SONGWRITER, A RAPPER OR JUST NEED
                HELP TURNING YOUR DEMO INTO A FINISHED SONG, OR YOU HAVE
                RECORDED EVERYTHING YOURSELF AND JUST NEED A MIX, WE CAN TURN YOUR IDEAS INTO A TRACK WORTHY OF THE
                RADIO<br><br>WANT TO KNOW WHAT YOUR MIX WILL SOUND LIKE IN THE CLUB?
                <br><br>WE HAVE A FULL RANGE PA SYSTEM WITH FILL MONITORS TO TEST OUT YOUR MIX</h1>
            <br><br>
            <h2>STUDIO B</h2>
            <h1>WANT A TAILOR MADE TRACK JUST FOR YOU BUT JUST CANT GET THAT RADIO SOUND?<br>AT KULTURE SOUND WE HAVE
                THE LATEST PROGRAMS AND PLUGINS TO GIVE THE CURRENT AND MOST UPDATE SOUND THAT ALL YOUR
                FAVOURITE ARTISTS ARE USING<br><br>WHETHER ITS A GUITAR OR KEYS BASED SONG OR ELECTRONIC WE CAN CATER TO
                WHATEVER YOU NEED</h1>

        </div>
    </div>
</body>

</html>