body,
html {
  height: 100vh;
  min-height: 350px;
  margin: 0;
}
.bg {
  background-image: url(../../assets/video_bg.gif);
  background-color: black;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .text {
    text-align: center;
    padding-top: 20vh;
    a {
      h1 {
        font-size: large;
      }
    }
  }
}

a {
  text-decoration: none;
  transition: 0.5s;
  text-shadow: 2px 2px 1px white;
}
a h1:hover {
  color: burlywood;
  text-decoration: underline;
}
