<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="waze">
    <div class="bg">
        <div class="text">
            <h2>Listen to Willie Waze Music</h2>
            <a href="https://fanlink.to/avantscarred" target="_blank">
                <h1>Avant Scarred-Full Album</h1>
            </a>
            <a href="https://fanlink.to/cKaY" target="_blank">
                <h1>F.R.E.E. Willie-Full Album</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=9ZYeTf40RV0&feature=youtu.be" target="_blank">
                <h1>Hybrid Kid-Music Video</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=jc_QTlDzs-M&feature=youtu.be" target="_blank">
                <h1>Out Da Whip-Music Video</h1>
            </a>
            <a href="https://fanlink.to/panicbuy" target="_blank">
                <h1>Panic Buy-Single</h1>
            </a>
        </div>
    </div>
</body>

</html>