.menu {
  background-color: black;
  text-align: center;
  height: 40px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-top: 5px;
}
a {
  font-family: "K2D", sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px;
}
a:hover {
  text-decoration: underline;
}
ul {
  background-color: black;
  list-style-type: none;
  height: 50px;
  padding: 10px;

  li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    background-color: black;
  }
}
