<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="hooked">
    <div class="bg">

        <ul>
            <li>
                <h1>Listen on</h1>
            </li>
            <li><a href="https://open.spotify.com/show/59ydcVcgsQXwOmq2eTFVYh" target="_blank">
                    <img src="../../assets/Spotify_Logo_RGB_Green.png" height="40px;" alt="click!"></a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLlDT1VHlp4xKN7E1s8Twyi2bkkvf1jfm9" target="_blank">
                    <img src="../../assets/yt_logo_rgb_dark.png" height="40px;" alt="click!"></a></li>
            <li><a href="https://podcasts.apple.com/au/podcast/kulture-sound-podcast/id1479296647" target="_blank">
                    <img src="../../assets/US_UK_iTunes.svg" height="40px;" alt="click!"></a></li>
        </ul>
    </div>
</body>

</html>